<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="google" content="notranslate" />
  <title>WebSite</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <style>
    .root { opacity: 1; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
    .loading { display: none; position: absolute;top: 50%;left: 50%;z-index: 9999;width: 108px;height: 108px;margin: -54px; }
    .loading img { width: 100%; }
  </style>
</head>
<body>
  <div id="root" class="root"></div>
  <div id="loading" class="loading">
    <img src="/loading.gif" />
  </div>
</body>
</html>
